Src/生产环境/RafflesMallDataSyn/RafflesMallDataSyn/Web References/WebReference/sales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurl.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempurl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurl.org">
      <s:element name="test_a_plus_b">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="al_value1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="al_value2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="test_a_plus_bResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test_a_plus_bResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getversion">
        <s:complexType />
      </s:element>
      <s:element name="getversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getversionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcompanyname">
        <s:complexType />
      </s:element>
      <s:element name="getcompanynameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getcompanynameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postsalescreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="astr_request" type="tns:postsalescreaterequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postsalescreaterequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:requestheader" />
          <s:element minOccurs="0" maxOccurs="1" name="salestotal" type="tns:saleshdr" />
          <s:element minOccurs="0" maxOccurs="1" name="salesitems" type="tns:ArrayOfSalesitem" />
          <s:element minOccurs="0" maxOccurs="1" name="salestenders" type="tns:ArrayOfSalestender" />
          <s:element minOccurs="0" maxOccurs="1" name="salesdlvy" type="tns:salesdelivery" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="requestheader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="licensekey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pagerecords" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="updatecount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="messagetype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="messageid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="saleshdr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="localstorecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reservedocno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txtime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tillid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salestype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdocno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orgtxdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orgstorecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orgtillid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orgtxdocno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallitemcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cashier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="vipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salesman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="demographiccode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="demographicdata" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="netqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="originalamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="sellingamount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="couponnumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coupongroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coupontype" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="couponqty" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="totaldiscount" type="tns:ArrayOfSalesdiscount" />
          <s:element minOccurs="1" maxOccurs="1" name="ttltaxamount1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttltaxamount2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="netamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="paidamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="changeamount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="priceincludetax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shoptaxgroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="extendparam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invoicetitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="invoicecontent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="issueby" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="issuedate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="issuetime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ecorderno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="buyerremark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="orderremark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ttpossalesdocno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalesdiscount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="salesdiscount" nillable="true" type="tns:salesdiscount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salesdiscount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="discountapprove" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="discountmode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="discountvalue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="discountless" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalesitem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="salesitem" nillable="true" type="tns:salesitem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salesitem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="iscounteritemcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lineno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="storecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallitemcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="counteritemcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="plucode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="colorcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sizecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemlotnum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serialnum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="isdeposit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iswholesale" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="invttype" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="exstk2sales" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="originalprice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="sellingprice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="pricemode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priceapprove" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="couponnumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coupongroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="coupontype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itemdiscount" type="tns:ArrayOfSalesdiscount" />
          <s:element minOccurs="1" maxOccurs="1" name="vipdiscountpercent" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="vipdiscountless" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="promotion" type="tns:ArrayOfSalespromtion" />
          <s:element minOccurs="1" maxOccurs="1" name="totaldiscountless1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="totaldiscountless2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="totaldiscountless" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="tax" type="tns:ArrayOfSalestax" />
          <s:element minOccurs="1" maxOccurs="1" name="netamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="bonusearn" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="salesitemremark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="refundreasoncode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="extendparam" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalespromtion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="salespromtion" nillable="true" type="tns:salespromtion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salespromtion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="promotionid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="promotionuseqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="promotionless" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="promotionpkgcount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalestax">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="salestax" nillable="true" type="tns:salestax" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salestax">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="taxrate" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="taxamount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalestender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="salestender" nillable="true" type="tns:salestender" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salestender">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lineno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tendercode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tendertype" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="tendercategory" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="payamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="baseamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="excessamount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="extendparam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salesdelivery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="receiver_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_district" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_address3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_address4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_postal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logisticscompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logisticsdocno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expectdeliverydate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deliveryremarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postsalescreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postsalescreateResult" type="tns:postsalescreateresponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postsalescreateresponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:responseheader" />
          <s:element minOccurs="0" maxOccurs="1" name="salestotal" type="tns:saleshdr" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="responseheader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responsecode" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="responsemessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pagerecords" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="updatecount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="maxrecords" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="maxpageno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="messagetype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="messageid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postdailysalessummary2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="astr_request" type="tns:postdailysalessummary2request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postdailysalessummary2request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:requestheader" />
          <s:element minOccurs="0" maxOccurs="1" name="salessummary" type="tns:dailysalessummary2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dailysalessummary2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="localstorecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txtime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tillid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdocno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ttlsalesqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttlrefundqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttlsalesamt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttlrefundamt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttldoccount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cashier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="issuedate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iszerosales" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postdailysalessummary2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postdailysalessummary2Result" type="tns:postdailysalessummary2response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postdailysalessummary2response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:responseheader" />
        </s:sequence>
      </s:complexType>
      <s:element name="postdailysalesestimatecreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="astr_request" type="tns:postdailysalesestimatecreaterequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postdailysalesestimatecreaterequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:requestheader" />
          <s:element minOccurs="0" maxOccurs="1" name="salesestimate" type="tns:dailysalesestimate" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dailysalesestimate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="localstorecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txtime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tillid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdocno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="estsalesqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="estsalesamt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="estdoccount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cashier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="issuedate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postdailysalesestimatecreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postdailysalesestimatecreateResult" type="tns:postdailysalesestimatecreateresponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postdailysalesestimatecreateresponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:responseheader" />
        </s:sequence>
      </s:complexType>
      <s:element name="postmalldailysalessummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="astr_request" type="tns:postmalldailysalessummaryrequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postmalldailysalessummaryrequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:requestheader" />
          <s:element minOccurs="0" maxOccurs="1" name="salessummary" type="tns:malldailysalessummary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="malldailysalessummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="mallstorecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txtime_hhmmss" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ttlsalesqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttlsalesamt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ttldoccount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="salesstorecount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="missuploadcount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="storemodifycount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postmalldailysalessummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postmalldailysalessummaryResult" type="tns:postmalldailysalessummaryresponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postmalldailysalessummaryresponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:responseheader" />
        </s:sequence>
      </s:complexType>
      <s:element name="postposconnectcreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="astr_request" type="tns:postposconnectcreaterequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postposconnectcreaterequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:requestheader" />
          <s:element minOccurs="0" maxOccurs="1" name="connecthdr" type="tns:posconnecthdr" />
          <s:element minOccurs="0" maxOccurs="1" name="connectdtls" type="tns:ArrayOfPosconnectdtl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="posconnecthdr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="localstorecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPosconnectdtl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="posconnectdtl" nillable="true" type="tns:posconnectdtl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="posconnectdtl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="storecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tillid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="connectdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="connecttime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="disconnectdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="disconnecttime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ipaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hostname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="macaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="osversion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="osuser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postposconnectcreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postposconnectcreateResult" type="tns:postposconnectcreateresponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postposconnectcreateresponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:responseheader" />
        </s:sequence>
      </s:complexType>
      <s:element name="postesalescreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="astr_request" type="tns:postesalescreaterequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postesalescreaterequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:requestheader" />
          <s:element minOccurs="0" maxOccurs="1" name="esalestotal" type="tns:esaleshdr" />
          <s:element minOccurs="0" maxOccurs="1" name="esalesitems" type="tns:ArrayOfEsalesitem" />
          <s:element minOccurs="0" maxOccurs="1" name="esalestenders" type="tns:ArrayOfEsalestender" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="esaleshdr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="txdate_yyyymmdd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txtime_hhmmss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mallid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tillid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txdocno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cashier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="vipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salesman" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="netqty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="netamount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="extendparam" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEsalesitem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="esalesitem" nillable="true" type="tns:esalesitem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="esalesitem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lineno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="itemcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="discountamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="netamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="bonusearn" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="extendparam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="salesitemremark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEsalestender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="esalestender" nillable="true" type="tns:esalestender" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="esalestender">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="lineno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tendercode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="payamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="baseamount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="excessamount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="extendparam" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="postesalescreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postesalescreateResult" type="tns:postesalescreateresponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="postesalescreateresponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:responseheader" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="test_a_plus_bSoapIn">
    <wsdl:part name="parameters" element="tns:test_a_plus_b" />
  </wsdl:message>
  <wsdl:message name="test_a_plus_bSoapOut">
    <wsdl:part name="parameters" element="tns:test_a_plus_bResponse" />
  </wsdl:message>
  <wsdl:message name="getversionSoapIn">
    <wsdl:part name="parameters" element="tns:getversion" />
  </wsdl:message>
  <wsdl:message name="getversionSoapOut">
    <wsdl:part name="parameters" element="tns:getversionResponse" />
  </wsdl:message>
  <wsdl:message name="getcompanynameSoapIn">
    <wsdl:part name="parameters" element="tns:getcompanyname" />
  </wsdl:message>
  <wsdl:message name="getcompanynameSoapOut">
    <wsdl:part name="parameters" element="tns:getcompanynameResponse" />
  </wsdl:message>
  <wsdl:message name="postsalescreateSoapIn">
    <wsdl:part name="parameters" element="tns:postsalescreate" />
  </wsdl:message>
  <wsdl:message name="postsalescreateSoapOut">
    <wsdl:part name="parameters" element="tns:postsalescreateResponse" />
  </wsdl:message>
  <wsdl:message name="postdailysalessummary2SoapIn">
    <wsdl:part name="parameters" element="tns:postdailysalessummary2" />
  </wsdl:message>
  <wsdl:message name="postdailysalessummary2SoapOut">
    <wsdl:part name="parameters" element="tns:postdailysalessummary2Response" />
  </wsdl:message>
  <wsdl:message name="postdailysalesestimatecreateSoapIn">
    <wsdl:part name="parameters" element="tns:postdailysalesestimatecreate" />
  </wsdl:message>
  <wsdl:message name="postdailysalesestimatecreateSoapOut">
    <wsdl:part name="parameters" element="tns:postdailysalesestimatecreateResponse" />
  </wsdl:message>
  <wsdl:message name="postmalldailysalessummarySoapIn">
    <wsdl:part name="parameters" element="tns:postmalldailysalessummary" />
  </wsdl:message>
  <wsdl:message name="postmalldailysalessummarySoapOut">
    <wsdl:part name="parameters" element="tns:postmalldailysalessummaryResponse" />
  </wsdl:message>
  <wsdl:message name="postposconnectcreateSoapIn">
    <wsdl:part name="parameters" element="tns:postposconnectcreate" />
  </wsdl:message>
  <wsdl:message name="postposconnectcreateSoapOut">
    <wsdl:part name="parameters" element="tns:postposconnectcreateResponse" />
  </wsdl:message>
  <wsdl:message name="postesalescreateSoapIn">
    <wsdl:part name="parameters" element="tns:postesalescreate" />
  </wsdl:message>
  <wsdl:message name="postesalescreateSoapOut">
    <wsdl:part name="parameters" element="tns:postesalescreateResponse" />
  </wsdl:message>
  <wsdl:portType name="salesSoap">
    <wsdl:operation name="test_a_plus_b">
      <wsdl:input message="tns:test_a_plus_bSoapIn" />
      <wsdl:output message="tns:test_a_plus_bSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getversion">
      <wsdl:input message="tns:getversionSoapIn" />
      <wsdl:output message="tns:getversionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcompanyname">
      <wsdl:input message="tns:getcompanynameSoapIn" />
      <wsdl:output message="tns:getcompanynameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postsalescreate">
      <wsdl:input message="tns:postsalescreateSoapIn" />
      <wsdl:output message="tns:postsalescreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postdailysalessummary2">
      <wsdl:input message="tns:postdailysalessummary2SoapIn" />
      <wsdl:output message="tns:postdailysalessummary2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postdailysalesestimatecreate">
      <wsdl:input message="tns:postdailysalesestimatecreateSoapIn" />
      <wsdl:output message="tns:postdailysalesestimatecreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postmalldailysalessummary">
      <wsdl:input message="tns:postmalldailysalessummarySoapIn" />
      <wsdl:output message="tns:postmalldailysalessummarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postposconnectcreate">
      <wsdl:input message="tns:postposconnectcreateSoapIn" />
      <wsdl:output message="tns:postposconnectcreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postesalescreate">
      <wsdl:input message="tns:postesalescreateSoapIn" />
      <wsdl:output message="tns:postesalescreateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="salesSoap" type="tns:salesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test_a_plus_b">
      <soap:operation soapAction="http://tempurl.org/test_a_plus_b" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getversion">
      <soap:operation soapAction="http://tempurl.org/getversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcompanyname">
      <soap:operation soapAction="http://tempurl.org/getcompanyname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postsalescreate">
      <soap:operation soapAction="http://tempurl.org/postsalescreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postdailysalessummary2">
      <soap:operation soapAction="http://tempurl.org/postdailysalessummary2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postdailysalesestimatecreate">
      <soap:operation soapAction="http://tempurl.org/postdailysalesestimatecreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postmalldailysalessummary">
      <soap:operation soapAction="http://tempurl.org/postmalldailysalessummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postposconnectcreate">
      <soap:operation soapAction="http://tempurl.org/postposconnectcreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postesalescreate">
      <soap:operation soapAction="http://tempurl.org/postesalescreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="salesSoap12" type="tns:salesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test_a_plus_b">
      <soap12:operation soapAction="http://tempurl.org/test_a_plus_b" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getversion">
      <soap12:operation soapAction="http://tempurl.org/getversion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcompanyname">
      <soap12:operation soapAction="http://tempurl.org/getcompanyname" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postsalescreate">
      <soap12:operation soapAction="http://tempurl.org/postsalescreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postdailysalessummary2">
      <soap12:operation soapAction="http://tempurl.org/postdailysalessummary2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postdailysalesestimatecreate">
      <soap12:operation soapAction="http://tempurl.org/postdailysalesestimatecreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postmalldailysalessummary">
      <soap12:operation soapAction="http://tempurl.org/postmalldailysalessummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postposconnectcreate">
      <soap12:operation soapAction="http://tempurl.org/postposconnectcreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postesalescreate">
      <soap12:operation soapAction="http://tempurl.org/postesalescreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sales">
    <wsdl:port name="salesSoap" binding="tns:salesSoap">
      <soap:address location="http://180.166.29.82:8080/TTPOS/sales.asmx" />
    </wsdl:port>
    <wsdl:port name="salesSoap12" binding="tns:salesSoap12">
      <soap12:address location="http://180.166.29.82:8080/TTPOS/sales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>